In [1]:
x = 5
if x == 3:
    print("X equals 3.")
elif x == 2:
    print("X equals 2.")
else:
    print("X equals Something else.")

X equals Something else.

In [2]:
x = 1
while x < 5:
    print(x)
    x += 1

1
2
3
4

In [3]:
for (x, y) in [('a', 1), ('b', 2), ('c', 3), ('d', 4)]:
    print(x)

a
b
c
d

In [4]:
for (x, y) in [('a', 1), ('b', 2), ('c', 3), ('d', 4)]:
    print(x+' '+str(y+2))

a 3
b 4
c 5
d 6

In [5]:
for x in "Heoll world":
    print(x)

H
e
o
l
l

w
o
r
l
d

In [6]:
for x in range(5):
    print(x)

0
1
2
3
4

In [7]:
li = [3, 5, 7, 9, 12]

In [8]:
len(li)

5

In [9]:
for i in range(len(li)):
    print(i, li[i])

0 3
1 5
2 7
3 9
4 12

In [10]:
for (x, y) in enumerate(li):
    print(x, y)

0 3
1 5
2 7
3 9
4 12

In [11]:
[y*2 for (x, y) in enumerate(li)]

[6, 10, 14, 18, 24]

In [12]:
li

[3, 5, 7, 9, 12]

In [13]:
[y*2 for (x, y) in enumerate(li) if x > 1]

[14, 18, 24]

In [14]:
def myfun(x, y):
    return x*y

In [15]:
myfun(3, 4)

12

In [16]:
def myfun(x,):
    return x*3

In [17]:
def apply(q, x):
    return q(x)

In [18]:
apply(myfun, 7)

21

In [19]:
def myfun(b, c=3, d='hello'):
    return b+c

In [20]:
myfun(5, 5,'hello')

10

In [21]:
myfun(5, 5)

10

In [22]:
myfun(4)

7

In [23]:
def myfun(a, b, c):
    return a-b

In [24]:
myfun(2, 1,43)

1

In [25]:
myfun(c=43, b=1, a=2)

1

In [26]:
myfun(2, c=43, b=1)

1